@model HurtowniaMVC.Models.Czesc
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}


<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CzescId)
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Nazwa)
            </td>
            <td>
                <input type="text" value="@Html.DisplayFor(model => model.Nazwa)" name="nazwa"><br />
                @Html.ValidationMessageFor(model => model.Nazwa, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Cena)
            </td>
            <td>
                <input type="text" value="@(Html.DisplayFor(model => model.Cena))" name="cena"><br />
                @Html.ValidationMessageFor(model => model.Cena, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.KategoriaId)
            </td>
            <td>
                @Html.DropDownList("KategoriaId", null, htmlAttributes: new { @class = "form-control" })
            </td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Zapisz" class="btn btn-danger" />
    <br /><br />
    <button><a href="../Index">Wróć do listy</a></button>
}