@model IEnumerable<HurtowniaMVC.Models.Czesc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

    
        @foreach (var item in Model)




        {
            <table class="fixed-height fixed-width fixed-cell table-spacing border-collapse:separate;">
                <tr style="border-spacing: 5px 5px;">
                    <td style="border-spacing: 5px 5px;">
                        @Html.DisplayFor(modelItem => item.Nazwa)
                    </td>
                    <td style="border-spacing: 5px 5px;">
                        @Html.DisplayFor(modelItem => item.Cena)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kategoria.Nazwa)
                    </td>


                    <td>
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Details", new {id = item.CzescId })';return false;">Podgląd &raquo;</button>
                        @if ((ViewBag.userAdmin == true) || (ViewBag.userUzytkownik == true))
                {
                            <button class="btn btn-warning" onclick="location.href='@Url.Action("Edit", new {id = item.CzescId})';return false;">Edytuj &raquo;</button>
                        }
                        @if (ViewBag.userAdmin == true)
                {
                            <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new {id = item.CzescId })';return false;">Usuń &raquo;</button>
                        }
                    </td>
                </tr>
            </table>
            
        }
 <button class="btn btn-danger" onclick="location.href='@Url.Action("Create", "Admin")';return false;">Dodaj &raquo;</button>           
