@model HurtowniaMVC.ViewModels.CartViewModel
@using HurtowniaMVC.Infrastructure
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
@*@Html.Action("KategoriaMenu", "Store")*@
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <table id="cart-table">
                            @foreach (var cartItem in Model.CartItems)
                            {
                                <tr id="cart-row-@cartItem.Czesc.CzescId">
                                    <td><a href="@Url.Action("Details", "Store", new {id = cartItem.Czesc.CzescId} )"><img src="../Content/img/prod.png" /></a></td>
                                    <td><a href="@Url.Action("Details", "Store", new {id = cartItem.Czesc.CzescId} )">@cartItem.Czesc.Nazwa</a></td>
                                    <td>Ilość: <span id="cart-item-count-@cartItem.Czesc.CzescId">@cartItem.Quantity</span></td>
                                    <td>@cartItem.TotalPrice</td>
                                    <td><a class="removeProduct" data-id="@cartItem.Czesc.CzescId" href="#">Usuń</a></td>
                                </tr>
                            }
                            <tr id="cart-empty-message" @if (Model.CartItems != null && Model.CartItems.Count > 0) { <text> class="hidden" </text>   }>
                                <td>Pusty koszyk</td>
                            </tr>

                        </table>

                        <div id="total-price">
                            Razem: <span id="total-price-value">@String.Format("{0:0.##}", Model.TotalPrice)</span> zł
                        </div>

                        <div class="section-button-container">
                            <a class="button-link" href="">Kontynuuj zakupy</a>
                            @if (Model.TotalPrice > 0)
                            {
                                <a class="button-link" id="cart-button-checkout" href="@Url.Action("Checkout", "Cart")">Kupuję</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBottom{
    
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script type="text/javascript">

    $(function () {
        $(".removeProduct").click(function () {

            var recordToDelete = $(this).attr("data-id");

            if (recordToDelete != '') {

                // Send post request with AJAX
                $.post("/Cart/RemoveFromCart", { "czescID": recordToDelete },
                    function (response) {
                        // Success
                        if (response.RemovedItemCount == 0) {

                            $('#cart-row-' + response.RemoveItemId).fadeOut('slow', function () {
                                if (response.CartItemsCount == 0) {
                                    $("#cart-empty-message").removeClass("hidden");
                                }
                            });
                        } else {
                            $('#cart-item-count-' + response.RemoveItemId).text(response.RemovedItemCount);
                        }

                        if (response.CartItemsCount == 0) {
                            $('#cart-button-checkout').addClass('hidden');
                            $('#total-price').addClass('invisible');
                        }

                        $('#total-price-value').text(response.CartTotal);
                        $('#cart-header-items-count').text(response.CartItemsCount);

                    });

                return false;
            }
        });

    });

</script>
}
